﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div>
        <div>
            <form class="container" asp-controller="Finanzas" asp-action="CrearCuenta" method="post" >
                <div class="row">
                    <div class="col-4">
                        <label for="Nombre" class="col-form-label">Nombre</label>
                        <input type="text" id="Nombre" name="Nombre" class="form-control" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label for="Categoria">Categoría</label>
                        <select name="Categoria" onchange="alerta()">
                            <option>Propio</option>
                            <option>Crédito</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label for="SalfoInicial" >Saldo Inicial</label>
                        <input type="number" name="Saldo" required/>
                    </div>
                </div>
                <div>
                    <div>
                        <button class="btn btn-outline-primary" type="submit">Crear Cuenta</button>
                    </div>
                </div>
            </form>
            <br />
            <a href="/Finanzas/Finanzas" class="btn btn-dark"> volver a finanzas</a>
        </div>
    </div>
</body>
</html>
<script>
    
</script>