﻿<html>
<head>
    <title>Ingresos</title>
</head>
<body>
    <div class="fs-2">
        <p class="text-center">Ingresos</p>
    </div>
    <div>
        <a href="/Finanzas/CreaIngreso" class="btn btn-primary">Ingresar dinero</a>
    </div>
    <br />
    <div>
        <table class="table border">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre de la cuenta</th>
                    <th scope="col">Fecha de Registro</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Monto </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int contador = 0;
                }
                @foreach (Ingreso ingreso in Model)
                {
                    contador++;
                    <tr>
                        <th scope="row">@contador</th>
                        <td>@ingreso.Cuenta</td>
                        <td>@ingreso.FechaIngreso</td>
                        <td>@ingreso.Descripcion</td>
                        <td>@ingreso.Monto</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</body>
</html>